<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Welcome to Paws</h1>
  </div>
</div>
<div class="container py-5">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <h3 class="mb-0">Pets from our users</h3>
  </div>

</div>

<div class="container">
  <div class="row">


      <% @pets.each do |pet| %>
        <div class="col-4">
          <div class="card">

            <%= cl_image_tag pet.photo.key, height: 300, width: 400, class: "w-100", crop: :fill %>
            <div class="card-body">
            <h4 class="card-title">  <%= pet.name %></h4>
            <p class="card-text"><%= pet.description %></p>
            <%= link_to "See Profile", pet_path(pet), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>
