<div class="p-5">
<h1>Checkout All the Sitter Applications for <%= @bookings.pet.name %> </h1>

<ul>
  <% @bookings.each do |booking| %>
    <li><%= link_to booking.id, booking_path(booking) %> </li>
  <% end %>
</ul>
</div>
