<h1>Below are the bookings for <%= Pet.find(params[:pet_id]).name %></h1>
<br>
<ul>
  <% @bookings.each do |booking| %>
    <div class="container">
      <div class="row">
          <% if (booking.pet.available == "Available" || booking.pet.available == "Booked") && booking.pet.user == current_user && booking.pet == @pet %>
              <li><%= link_to "Booking ID: #{booking.id} Date: #{booking.start_date.strftime("%d %B")} Status: #{booking.status}", booking_path(booking) %></li>
          <% end %>
      </div>
    </div>
  <% end %>
</ul>
