.card-text {
  overflow: hidden;
}
.custom {
  margin: 3px;
  width: 45% !important;
  justify-content: space-between;
}
.custom-lg {
  width: 85% !important;
  margin-bottom: 5px;
  margin-left: 5%;
}
.card-user {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 7px;
  width: 33%;
  margin-left: 2em;
  padding: 0;
}
.card-user img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card {
  margin-bottom: 10px;
}
